
        .ripple {
            overflow: hidden;
        }

        .ripple {
            position: relative;
            display: inline-block;
            transition: all 0.2s ease;
        }
        .ripple:hover,
        .c-button:focus {
            outline: 0;
        }
        .ripple:not(:disabled) {
            cursor: pointer;
        }

        .c-ripple {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: transparent;
        }

        .c-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            width: 0;
            height: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.25);
        }
        .c-ripple.is-active .c-circle {
            animation: a-ripple 0.4s ease-in;
        }

        @keyframes a-ripple {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            100% {
                width: 200%;
                padding-bottom: 200%;
                opacity: 0;
            }
        }
